.container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.left{
    margin-left: 40px;
    
}

.right{
    margin-right: 40px;
}

.right a{
    display: flex;
    width: 60px;
    height: 30px;
    
}


.um, .dois, .tres{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.um:hover, .dois:hover, .tres:hover{
    opacity: 50%;
}

.um {
    background-image: url("/busca.png");      
}
.dois {
    background-image: url("/perfil.png");
}
.tres {
    background-image: url("/carrinho.png");
}

.container li{
    display: inline-block; /*remove os pontos da li*/
    padding-left: 10px;
    
}

@media (max-width: 360px){
    .container{
        width: 100%;
    }
}


/*
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
*/

